{% extends "home/root.html" %}
    {% block title %}{{ title }}{% endblock title %}
    
    {% block body %}
    <h1>{{ heading }}</h1>
    <p>{{ message }}</p>
   
    <h2 class="text-center mb-4">Student List</h2>

        <table class="table table-bordered table-striped table-hover">
            <thead class="table-dark">
                <tr>
                    <th>S.N.</th>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Contact</th>
                </tr>
            </thead>

            <tbody>
                {% for student in students %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ student.name }}</td>
                    <td>{{ student.age }}</td>
                    <td>{{ student.contact }}</td>
                </tr>
                {% endfor %}
            </tbody>

        </table>
        {% endblock body %}


  